<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <header>
      <div>
        <a href="/">
          <span>
            <img src="/icons/chevron_left_black_24dp.svg" alt="Arrow-back" />
          </span>
          <p>Go Back</p>
        </a>
      </div>
    </header>

    <main data-route="detail">
      <figure>
        <img
          src="../images/<%=detailItem.image%>"
          alt="<%=detailItem.image%>"
          width="350px"
          height="auto"
        />
        <figcaption>
          <div>
            <small><%=detailItem.location%></small>
            <h2><%=detailItem.title%></h2>
            <p><%=detailItem.description%></p>
          </div>
          <div>
            <form
              action="/photo/<%= detailItem.id%>/?_method=DELETE"
              method="POST"
              onsubmit="return confirm('Are you sure that you want to delete this?');"
            >
              <button type="submit" name="delete" id="delete" value="DELETE">
                <span class="material-icons">
                  <img
                    src="/icons/delete_black_24dp.svg"
                    width="25px"
                    height="auto"
                    alt="Delete-icon"
                /></span>
              </button>
            </form>
          </div>
        </figcaption>
      </figure>
    </main>
  </body>
</html>
