<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <header>
      <small>Tristan Varewijck & Browser Technologies</small>
      <div>
        <h1>Seasonal photo collection</h1>
        <a href="photo/new-photo"
          ><p>Add photo</p>
          <span>
            <img src="/icons/collections_black_24dp.svg" alt="img-icon" />
          </span>
        </a>
      </div>
    </header>

    <main data-route="landing">
      <div class="summer-container">
        <h3>Summer</h3>
        <div class="swiper1">
          <div class="swiper-wrapper">
            <% if(summer.length === 0){ %>
            <p>You have not added any pictures to your collection yet</p>
            <% } else{ %> <% summer.forEach(function(item){ %>

            <a href="photo/<%=item.id%>" class="swiper-slide">
              <div>
                <img
                  src="images/<%=item.image%>"
                  width="100%"
                  alt="memorie-img"
                />
              </div>
            </a>
            <% }); %> <% } %>
          </div>

          <% if(summer.length > 0){ %>
          <div class="controls">
            <div class="swiper-button-prev1">prev</div>
            <div class="swiper-button-next1">next</div>
          </div>

            <div class="swiper-pagination1"></div>
            <% } %>
          </div>
        </div>

        <div class="fall-container">
          <h3>Fall</h3>
          <div class="swiper2">
            <div class="swiper-wrapper">
              <% if(fall.length === 0){ %>
              <p>You have not added any pictures to your collection yet</p>
              <% } else{ %> <% fall.forEach(function(item){ %>

              <a href="photo/<%=item.id%>" class="swiper-slide">
                <div>
                  <img
                    src="images/<%=item.image%>"
                    width="100%"
                    alt="memorie-img"
                  />
                </div>
              </a>
              <!-- </a> -->
              <% }); %> <% } %>
            </div>

            <% if(fall.length > 0){ %>
            <div class="controls">
            <div class="swiper-button-prev2">prev</div>
            <div class="swiper-button-next2">next</div>
            </div>

            <div class="swiper-pagination2"></div>
            <% } %>
          </div>
        </div>

        <div class="winter-container">
          <h3>Winter</h3>
          <div class="swiper3">
            <div class="swiper-wrapper">
              <% if(winter.length === 0){ %>
              <p>You have not added any pictures to your collection yet</p>
              <% } else{ %> <% winter.forEach(function(item){ %>

              <a href="photo/<%=item.id%>" class="swiper-slide">
                <div>
                  <img
                    src="images/<%=item.image%>"
                    width="100%"
                    alt="memorie-img"
                  />
                </div>
              </a>
              <% }); %> <% } %>
            </div>

            <% if(winter.length > 0){ %>
              <div class="controls">
            <div class="swiper-button-prev3">prev</div>
            <div class="swiper-button-next3">next</div>
              </div>

            <div class="swiper-pagination3"></div>
            <% } %>
          </div>
        </div>

        <div class="spring-container">
          <h3>Spring</h3>
          <div class="swiper4">
            <div class="swiper-wrapper">
              <% if(spring.length === 0){ %>
              <p>You have not added any pictures to your collection yet</p>
              <% } else{ %> <% spring.forEach(function(item){ %>

              <a href="photo/<%=item.id%>" class="swiper-slide">
                <div>
                  <img
                    src="images/<%=item.image%>"
                    width="100%"
                    alt="memorie-img"
                  />
                </div>
              </a>
              <!-- </a> -->
              <% }); %> <% } %>
            </div>

            <% if(spring.length > 0){ %>
            <div class="controls">
            <div class="swiper-button-prev4">prev</div>
            <div class="swiper-button-next4">next</div>
            </div>

            <div class="swiper-pagination4"></div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      Tristan Varewijck
    </footer>

    <noscript>
      <style type="text/css">

      .swiper-wrapper{
        overflow-x: auto;
      }

      .swiper-slide{
        width: fit-content;
        margin-right: 2em
      }
        .swiper-slide img {
          width: 250px;
        }

        .controls{
          display: none;
        }

        a div{
          width: fit-content;
        }
      </style>
    </noscript>
  </body>
</html>
