<!DOCTYPE html>
<html lang="en">
  <%- include('partials/layout') %>
  <body>
    <header>
      <small>Tristan Varewijck & Browser Technologies</small>
      <div>
        <h1>Photo review</h1>
        <a href="photo/new-photo"
          ><p>Add photo</p>
          <span>
            <img src="/icons/collections_black_24dp.svg" alt="img-icon" />
          </span>
        </a>
      </div>
    </header>

    <div class="layout-changer">
      <div>
        <button class="layout-1" value="layout-1">
          <span
            ><img src="/icons/view_column_black_24dp.svg" alt="layout-1"
          /></span>
        </button>
        <button class="layout-2" value="layout-2">
          <span style="transform: rotate(-90deg)" class="material-icons">
            <img src="/icons/view_column_black_24dp.svg" alt="layout-2" />
          </span>
        </button>
      </div>
    </div>

    <main data-route="landing">
      <h3>Summer</h3>
      <div class="slider">
        <div class="slide-track">
          <% if(summer.length === 0){ %>
          <p>You have not added any pictures to your collection yet</p>
          <% } else{ %> <% summer.forEach(function(item){ %>

          <div class="slide">
            <img src="images/<%=item.image%>" width="100%" alt="memorie-img" />
          </div>
          <!-- </a> -->
          <% }); %> <% } %>
        </div>
      </div>

      <h3>Fall</h3>
      <div class="slider">
        <div class="slide-track">
          <% if(fall.length === 0){ %>
          <p>You have not added any pictures to your collection yet</p>
          <% } else{ %> <% fall.forEach(function(item){ %>

          <div class="slide">
            <img src="images/<%=item.image%>" width="100%" alt="memorie-img" />
          </div>
          <!-- </a> -->
          <% }); %> <% } %>
        </div>
      </div>

      <h3>Winter</h3>
      <div class="slider">
        <div class="slide-track">
          <% if(winter.length === 0){ %>
          <p>You have not added any pictures to your collection yet</p>
          <% } else{ %> <% summer.forEach(function(item){ %>

          <div class="slide">
            <img src="images/<%=item.image%>" width="100%" alt="memorie-img" />
          </div>
          <!-- </a> -->
          <% }); %> <% } %>
        </div>
      </div>

      <h3>Spring</h3>
      <div class="slider">
        <div class="slide-track">
          <% if(spring.length === 0){ %>
          <p>You have not added any pictures to your collection yet</p>
          <% } else{ %> <% summer.forEach(function(item){ %>

          <div class="slide">
            <img src="images/<%=item.image%>" width="100%" alt="memorie-img" />
          </div>
          <!-- </a> -->
          <% }); %> <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
