<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="list-container">
            <img src="/images/<%= detailItem.image %>" alt="<%= detailItem.image %>">
            <form  action="/photo/<%= detailItem.image %>/?_method=PUT" enctype="multipart/form-data" method="POST">
            
                <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" value="images/<%=detailItem.image%>" required>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location" id="location" value="<%=detailItem.location%>">
            </div>
    
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" value="<%=detailItem.description%>"></textarea>
            </div>

    
            <button type="submit">UPDATE</button>
            </form> 
        </div>
            </div>
    </main>
    
</body>
</html>